.form {
  /* margin: 1rem 0; */
  min-height: 13rem;
  overflow: auto;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 6px;
}

.control input {
  padding-left: 7px;
  height: 2rem;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.actions button {
  width: 100px;
  font: inherit;
  color: #066341;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #066341;
  border-radius: 25px;
  padding: 0.3rem 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ccc;
}

.actions .submit {
  border: 1px solid #6b068a;
  background-color: #066341;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #152e25;
  border-color: #47035d;
  color: white;
}

.invalid label {
  color: red;
}

.invalid input {
  border-color: red;
  background-color: #dccccc;
}

.text-error {
  margin: 0 0;
  color: red;
  font-size: 0.8em;
}
